<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://uofsc-rc.github.io/"><strong>Research Computing</strong></a>
            </div>
            <ul class="nav navbar-nav">
                <li {% if page.title=="Research Computing" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/">Home</a></li>
                <li {% if page.title=="About Research Computing" %}class="active" {% endif %}><a class="nav-item" href="https://uofsc-rc.github.io/about">About</a></li>
                <li {% if page.title=="Scientific Applications" %}class="active" {% endif %}><a class="nav-item" href="https://uofsc-rc.github.io/applications">Applications</a></li>
                <li class="nav-item dropdown dropdown" {% if page.title=="Software Tutorials" %}class="active" {% endif %}>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="https://uofsc-rc.github.io/tutorials">Software Tutorials
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if page.path contains "abaqus" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/tutorials/abaqus">Abaqus</a></li>
                        <li {% if page.path contains "amber" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/tutorials/amber">Amber</a></li>
                        <li {% if page.path contains "cuda" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/tutorials/cuda">CUDA</a></li>
                        <li {% if page.path contains "matlab" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/tutorials/matlab">MATLAB</a></li>
                        <li {% if page.path contains "open-mpi" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/tutorials/open-mpi">Open MPI</a></li>
                        <li {% if page.path contains "python" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/tutorials/python">Python</a></li>
                        <li {% if page.path contains "pytorch" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/tutorials/pytorch">PyTorch</a></li>
                        <li {% if page.path contains "qe" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/tutorials/qe">Quantum Espresso</a></li>
                        <li {% if page.path contains "R" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/tutorials/R">R</a></li>
                        <li {% if page.path contains "tensorflow" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/tutorials/tensorflow">TensorFlow</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown dropdown" {% if page.title=="System Tutorials" %}class="active" {% endif %}>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="https://uofsc-rc.github.io/sys-tutorial">System Tutorials
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if page.path contains "getting-started" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/sys-tutorial/getting-started">Connecting to RC Systems</a></li>
                        <li {% if page.path contains "module" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/sys-tutorial/module">Modules</a></li>
                        <li {% if page.path contains "slurm-scheduler" %}class="active" {% endif %}><a href="https://uofsc-rc.github.io/sys-tutorial/slurm-scheduler">Slurm Scheduler</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            {{ content }}
        </div>
    </div>

</body>
<hr>
<div class="container-fluid footer">
    <p class="text-muted" style="text-align:center; padding-top:20px;"><a href="https://sc.edu/rci">
            University of South Carolina Research Computing</a></p>
</div>

</html>
