<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
  <!--Navbar-->
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="https://uofsc-rc.github.io/"><strong>Research Computing</strong></a>
          </div>
          <ul class="nav navbar-nav">
              <li class="active"><a href="https://uofsc-rc.github.io/">Home</a></li>
              <li><a class="nav-item" href="https://uofsc-rc.github.io/about/">About</a></li>
              <li><a class="nav-item" href="https://uofsc-rc.github.io/applications">Applications</a></li>
              <li class="nav-item dropdown dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="https://uofsc-rc.github.io/tutorials">Software Tutorials
                      <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="https://uofsc-rc.github.io/tutorials/abaqus">Abaqus</a></li>
                      <li><a href="https://uofsc-rc.github.io/tutorials/amber">Amber</a></li>
                      <li><a href="https://uofsc-rc.github.io/tutorials/cuda">CUDA</a></li>
                      <li><a href="https://uofsc-rc.github.io/tutorials/matlab">MATLAB</a></li>
                      <li><a href="https://uofsc-rc.github.io/tutorials/open-mpi">Open MPI</a></li>
                      <li><a href="https://uofsc-rc.github.io/tutorials/python">Python</a></li>
                      <li><a href="https://uofsc-rc.github.io/tutorials/qe">Quantum Espresso</a></li>
                      <li><a href="https://uofsc-rc.github.io/tutorials/R">R</a></li>
                      <li><a href="https://uofsc-rc.github.io/tutorials/tensorflow">TensorFlow</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown"
                     href="https://uofsc-rc.github.io/sys-tutorial">System Tutorials
                      <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="https://uofsc-rc.github.io/sys-tutorial/getting-started">Connecting to RC Systems</a></li>
                      <li><a href="https://uofsc-rc.github.io/sys-tutorial/module">Modules</a></li>
                      <li><a href="https://uofsc-rc.github.io/sys-tutorial/slurm-scheduler">Slurm Scheduler</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </nav>
  <div class="container">
      <div class="row">
              {{ content }}
      </div>
    </div>

  </body>
  <hr>
  <div class="container-fluid footer">
      <p class="text-muted" style="text-align:center; padding-top:20px;"><a href="https://sc.edu/rci">
          University of South Carolina Research Computing</a></p>
  </div>
</html>